@font-face {
  font-family: 'Trebuchet MS';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(font?kit=5h1diZ4yJ3MPiLu-OzLLCj-aDg&skey=7e071cef4f2cf8ce&v=v21) format('woff');
}
