.title-slide hgroup h1 {
  font-size: 36pt;
  letter-spacing: 0;
}

* {
  box-sizing: border-box;
}

/* Create two unequal columns that float next to each other */
.column {
  float: left;
  padding: 10px;
}

.left {
  width: 35%;
}

.right {
  width: 65%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.citation {
  position: fixed;
  bottom: 3em;
  right: 5em;
  font-size: 90%;
}

.footer {
  position: fixed;
  text-align: center;
  margin: 0px auto;
  bottom: 0;
}

.footnote {
  position: absolute;
  bottom: 2em;
  padding-right: 4em;
  font-size: 90%;
}

.futnote {
  position: fixed;
  bottom: 3em;
  left: 5em;
  font-size: 90%;
}

.bigger {
  font-size: 2em;
}
